*, html {
	font-family: courier;
}

body {
	margin: 0;
	margin: 0 auto;
	width: 1024px;
}

header {
	text-align: center;
	font-size: 60px;
}
header .menu {
	font-size: 1.2rem;
	padding: 15px 0px 20px 0px;
}

body > div {
	text-align: center;
}

.view-wrapper {
	position: relative;
}
.view-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: 1s linear all;
	-moz-transition: 1s linear all;
	-ms-transition: 1s linear all;
	-o-transition: 1s linear all;
	transition: 1s linear all;
}
.view-container.ng-enter {
	opacity: 0;
}
.view-container.ng-enter.ng-enter-active {
	opacity: 1;
}
.view-container.ng-leave {
	opacity: 1;
}
.view-container.ng-leave.ng-leave-active {
	opacity: 0;
}

.container {
	vertical-align: top;
}
.container .header {
	border-bottom: 1px solid #A0A0A0;
	font-size: 20px;
	padding: 15px 28px;
}
.container .content-container {
	padding: 20px;
	font-size: 0;
}
.container .content-container .cols {
	width: 48%;
	display: inline-block;
	margin: 10px auto;
	padding: 0px 1%;
}
.container .content-container .label {
	font-size: 1rem;
	text-align: right;
}
.container .content-container .value {
	font-size: 1rem;
	text-align: left;
}
.container .content-container .buttons-container {
	margin-top: 25px;
}

.home-container {
	width: 700px;
	margin: 25px auto;
	text-align: left;
}

.meal-container, .customer-container {
	width: 550px;
	margin: 25px auto;
}
.meal-container > div, .customer-container > div {
	border: 2px solid #808080;
}
.meal-container .error-container {
	margin-top: 15px;
	background: #FFDDDD;
	border-radius: 10px;
	border: 2px solid #886666;
	padding: 20px 33px;
	color: #886666;
	font-size: 1rem;
}

.output-container, .reset-container {
	width: 350px;
	margin: 25px auto;
}
.output-container > div {
	border: 2px solid #808080;
}

.reset-container {
	text-align: right;
}